@media screen and (min-width: 1200px) {
  /* HEADER */
  header {
    grid-template: auto / 60px 1fr 1fr;
  }

  #nav-menu {
    display: flex;
    grid-row: 1/2;
    grid-column: 3/4;
    color: var(--dark);
    justify-self: right;
    text-align: right;
  }

  #navlist {
    list-style-type: none;
  }

  #navlist {
    text-decoration: none;
  }

  .menu-show,
  .menu-hide,
  .menu-show.showing,
  .menu-hide.showing {
    display: none;
  }

  #hero {
    width: 100%;
    grid-template: auto auto / 1fr;
    overflow: hidden;
  }

  #hero-action a {
    font-size: large;
  }

  /* MAIN PAGE */
  #home-main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template: auto auto auto / 0.5fr 2fr 1fr 0.5fr;
  }

  #hero {
    grid-row: 1/2;
    grid-column: 2/4;
  }

  #hero-label {
    width: 7%;
    top: 120px;
  }

  #hero-label::before {
    content: "Large";
  }

  .card {
    margin: 0.5rem;
  }

  .cur-events {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .weather {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .spotlights {
    grid-row: 3/4;
    grid-column: 2/4;
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .spotlights h2 {
    margin-bottom: -0.75rem;
    grid-row: 1/2;
    grid-column: 1/4;
    border: none;
  }

  .spotlight {
    grid-row: 2/3;
    border-left: none;
    border-top: 1px solid var(--mid-orange);
  }

  /* DISCOVER PAGE */
  .disc-img {
    width: 800px;
    height: 500px;
  }

  /* FOOTER */
  footer {
    grid-template: auto auto / 4fr 1fr 2fr 3fr 4fr;
  }

  .footer-img {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .footer-img img {
    width: 50%;
    justify-self: right;
  }

  .chamber-info {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .contact {
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .base-info {
    margin-top: 1rem;
    grid-row: 2/3;
    grid-column: 1/6;
  }
  /* JOIN PAGE */
  #join-fieldset p::after {
    content: " (see descriptions to the right)";
  }
}
