@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Croissant+One&display=swap");

* {
  margin: 0;
  font-family: "Cousine", sans-serif;
}

body {
  background: #fffffe;
}

header {
  display: flex;
  background: #57756d;
  height: 252px;
  color: #fffffe;
  justify-content: center;
  align-items: center;
}

.portrait {
  display: inline-block;
  padding: 1rem;
  width: 150px;
  height: auto;
}

h1 {
  display: inline-block;
  padding: 1rem;
  font-family: "Croissant One", serif;
  font-size: 50px;
}

nav {
  background-color: #1f271b;
  padding: 0.5rem;
  height: 86px;
}

.menu-hide,
.menu-show {
  display: none;
  background-color: #57756d;
  color: #fffffe;
  border: 1px solid #1f271b;
  margin: 1rem;
  padding: 0.5rem;
  font-size: xx-large;
}

.showing,
.showing {
  display: block;
}

#nav-menu {
  display: none;
}

#nav-menu.showing {
  display: flex;
}

#nav-menu {
  padding-inline-start: 0px;
  background-color: #1f271b;
  display: none;
  flex-direction: column;
}

ul li {
  padding: 1rem;
}

ul li a {
  font-size: 20px;
  color: #fffffe;
  text-decoration: none;
}

#current::before {
  content: "> ";
}

main {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template: auto 50px auto auto / 1fr;
}

#hero {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  justify-content: center;
}

#hero-img {
  width: 100%;
  height: auto;
}

#hero-label {
  width: 50%;
  position: absolute;
  top: 60px;
  left: 50px;
  padding: 0.5rem;
  /* background-color: rgb(12.2, 15.3, 10.6, 0.1); */
  box-shadow: 0 0 3rem #fff;
}

h2 {
  padding-top: 1rem;
  color: #1f271b;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #1f271b;
}

.card {
  margin: 20px;
  border: 1px solid #1f271b;
  border-radius: 20px;
}

h3 {
  background: #57756d;
  padding: 1rem;
  color: #fffffe;
  font-size: 20px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

ol li {
  padding: 1rem;
  list-style-position: inside;
}

ol li a {
  font-size: 20px;
  color: #1f271b;
}

.card p {
  font-size: 20px;
  padding: 1rem;
}

iframe {
  width: 100%;
  border: 0;
}

footer {
  padding: 1rem;
  background: #1f271b;
  color: #fffffe;
  text-align: center;
  font-size: 15px;
}

footer p {
  padding: 1rem;
}
