@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Croissant+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cousine", sans-serif;
}

body {
  height: 100vh;
  background: #fffff5;
}

header {
  display: flex;
  background: #1f271b;
  color: #fffff5;
  justify-content: center;
  align-items: center;
}

.portrait {
  display: inline-block;
  padding: 1rem;
  width: 150px;
}

h1 {
  display: inline-block;
  padding: 1rem;
  font-family: "Croissant One", serif;
  font-size: 50px;
}

nav {
  background: #61988e;
  text-align: center;
  padding: 1rem;
}

nav a {
  padding: 1rem;
  display: block;
  font-size: 15px;
  color: #fffff5;
  text-decoration: none;
}

main {
  margin: 0 auto;
  padding: 40px;
  max-width: 700px;
  display: grid;
  grid-template: 50px auto auto / 1fr;
}

h2 {
  color: #1f271b;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #1f271b;
}

.card {
  margin: 20px;
  border: 1px solid #1f271b;
  border-radius: 20px;
}

h3 {
  background: #61988e;
  padding: 1rem;
  color: #fffff5;
  font-size: 20px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

li {
  padding: 1rem;
  list-style-type: none;
}

li a {
  font-size: 20px;
  color: #1f271b;
}

.card p {
  font-size: 20px;
  padding: 1rem;
}

footer {
  padding: 1rem;
  background: #1f271b;
  color: #fffff5;
  text-align: center;
  font-size: 15px;
}

footer p {
  padding: 1rem;
}
