@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Croissant+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cousine", sans-serif;
}

body {
  height: 100vh;
  background: #faf3dd;
}

header {
  display: flex;
  background: #1f271b;
  color: #faf3dd;
  justify-content: center;
  align-items: center;
}

.portrait {
  display: inline-block;
  padding: 20px;
  width: 150px;
}

h1 {
  display: inline-block;
  padding: 20px;
  font-family: "Croissant One", serif;
  font-size: 75px;
}

nav {
  background: #55917f;
  text-align: center;
}

nav a {
  padding: 20px;
  display: block;
  font-size: 25px;
  color: #faf3dd;
  text-decoration: none;
}

main {
  margin: 0 auto;
  padding: 40px;
  width: 1000px;
  display: grid;
  grid-template: 50px auto auto / 1000px;
}

h2 {
  color: #1f271b;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid #1f271b;
}

.card {
  margin: 20px;
  border: 1px solid;
}

h3 {
  background: #55917f;
  padding: 20px;
  color: #faf3dd;
  font-size: 25px;
  text-align: center;
}

li {
  padding: 20px;
  list-style-type: none;
}

li a {
  font-size: 25px;
  color: #1f271b;
}

.card p {
  font-size: 25px;
  padding: 20px;
}

footer {
  padding: 20px;
  background: #1f271b;
  color: #faf3dd;
  text-align: center;
  font-size: 20px;
}

footer p {
  padding: 5px;
}
