:root {
  --dark: #1f271b;
  --light: #57756d;
  --invalid: red;
}

#form-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  justify-content: center;
}

label {
  display: block;
  margin: 1rem 0;
}

input {
  display: block;
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 30rem;
}

#slidervalues {
  display: flex;
  width: 30rem;
  margin: 0 0 0 1rem;
}

#slidervalues option {
  flex: 1;
}

button {
  font-size: 1.5rem;
  color: white;
  background-color: var(--light);
  padding: 0.5rem;
  margin: 2rem auto;
  width: 50%;
  text-align: center;
  display: block;
}

button:hover {
  /* background-color: #1f271b; */
  box-shadow: 1px 1px 1px var(--dark);
}

input:valid {
  box-shadow: 2px 2px 2px var(--dark);
}

input:invalid {
  box-shadow: 2px 2px 2px var(--invalid);
}
